@model CarVm
@using DreamCar.Model.DataModels.Enums


<section style="margin: 0 auto;">
    <h4 class="text-center">Podstawowe informacje</h4>
    <div class="input-group mt-2">
        <div class="container g-0">
            <div class="row">
                <div class="d-none">
                    <input asp-for="Id" />
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <select id="productionYearList" required asp-for="ProductionYear" asp-items="ViewBag.YearsSelectList" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Wybierz rok produkcji</option>
                    </select>
                    <label for="productionYearList" class="form-label">Rok produkcji <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="ProductionYear" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6  col-lg-4 mb-3">
                    <input disabled id="brandCar" required asp-for="Brand" placeholder="Marka" class="form-control" style="border-radius: 1rem;" />
                    <label id="brandCarLabel" class="form-label disabled" for="brandCar">Marka <sup><icon class="fas fa-star"></icon></sup></label>
                    <span id="brandErrorMsg" asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <input disabled id="modelCar" required asp-for="Model" placeholder="Model" class="form-control" style="border-radius: 1rem;" />
                    <label id="modelCarLabel" class="form-label disabled" for="modelCar">Model <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <select disabled id="fuelTypeList" required asp-for="Fuel" asp-items="Html.GetEnumSelectList<FuelType>()" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Wybierz typ paliwa</option>
                    </select>
                    <label for="fuelTypeList" class="form-label">Rodzaj paliwa <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Fuel" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <input disabled id="power" required asp-for="Power" placeholder="Numer VIN" class="form-control" style="border-radius: 1rem;" />
                    <label id="powerLabel" class="form-label disabled" for="power">Moc [KM] <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Power" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <input disabled id="engineCapacity" required asp-for="EngineCapacity" placeholder="Numer VIN" class="form-control" style="border-radius: 1rem;" />
                    <label id="engineCapacityLabel" class="form-label disabled" for="engineCapacity">Pojemność silnika [cm<sup>3</sup>] <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="EngineCapacity" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-3 mb-3">
                    <select disabled id="doorsList" required asp-for="Doors" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Wybierz ilość drzwi</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <label for="doorsList" class="form-label disabled">Ilość drzwi <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Doors" class="text-danger"></span>
                </div>
                <div disabled class="form-floating col-12 col-md-6 col-lg-3 mb-3">
                    <select disabled id="gearboxList" required asp-for="Gearbox" asp-items="Html.GetEnumSelectList<GearboxType>()" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled class="disabled" selected>Wybierz typ skrzynii</option>
                    </select>
                    <label for="gearboxList" class="form-label disabled">Rodzaj skrzynii biegów <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Gearbox" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-3 mb-3">
                    <input disabled id="version" required asp-for="Version" placeholder="Wersja" class="form-control" style="border-radius: 1rem;" />
                    <label id="versionLabel" class="form-label disabled" for="version">Wersja <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Version" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-3 mb-3">
                    <input disabled id="generation" required asp-for="Generation" placeholder="Generacja" class="form-control" style="border-radius: 1rem;" />
                    <label id="generationLabel" class="form-label disabled" for="generation">Generacja <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Generation" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-12 mb-3">
                    <select id="bodyTypeList" required asp-for="Body" asp-items="Html.GetEnumSelectList<BodyType>()" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Wybierz typ nadwozia pojazdu</option>
                    </select>
                    <label for="bodyTypeList" class="form-label">Rodzaj nadwozia <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <input id="color" required asp-for="Color" placeholder="Kolor" class="form-control" style="border-radius: 1rem;" />
                    <label class="form-label" for="color">Kolor <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <select id="colorTypeList" required asp-for="ColorType" asp-items="Html.GetEnumSelectList<ColorType>()" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Wybierz rodzaj lakieru</option>
                    </select>
                    <label for="colorTypeList" class="form-label">Typ lakieru <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="ColorType" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <input id="mileage" required asp-for="Mileage" placeholder="Przebieg" class="form-control" style="border-radius: 1rem;" />
                    <label class="form-label" for="mileage">Przebieg [km] <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <input id="VIN" required asp-for="VIN" placeholder="Numer VIN" class="form-control" style="border-radius: 1rem; text-transform:uppercase;" />
                    <label class="form-label" for="VIN">Numer VIN <sup><icon class="fas fa-star"></icon></sup></label>
                    <span asp-validation-for="VIN" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 mb-3">
                    <input id="registrationNumber" asp-for="RegistrationNumber" placeholder="Nr rejestracyjny" class="form-control" style="border-radius: 1rem;" />
                    <label class="form-label" for="registrationNumber">Numer rejestracyjny</label>
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-md-12 col-lg-4 mb-3">
                    <input id="firstRegistration" asp-for="FirstRegistration" placeholder="12.12.2021" class="form-control" style="border-radius: 1rem;" />
                    <label class="form-label" for="firstRegistration">Data pierwszej rejestracji</label>
                    <span asp-validation-for="FirstRegistration" class="text-danger"></span>
                </div>
            </div>
        </div>    
    </div>
</section>
