@model IEnumerable<UserAdvertVm>

@{
    if (Model.Count() == 0 || Model == null)
    {
        <div class="d-flex justify-content-center align-items-center flex-column" style="margin-top:15vh;">
            <img src="~/assets/img/car.svg" class="img-fluid w-25" />
            <h3 class=" text-center">Nie masz żadnych zakończonych ogłoszeń</h3>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <div class="col-12 col-lg-4 ms-lg-5 mb-3" style="border-radius: 1rem;">
                <input style="border-radius: 1rem;" type="text" class="form-control shadow-none filterAdvert" placeholder="Filtruj po tytule..."
                       onfocus="this.value=''">
            </div>
            <div class="tableAdverts col-11 mx-auto table-responsive mb-3">
                <table class="table table-striped table-hover table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none"></th>
                            <th scope="col"></th>
                            <th data-bs-toggle="tooltip" data-bs-placement="left" title="Sortuj malejąco/rosnąco wg tytułu" data-bs-animation="true" scope="col"><span>Tytuł</span> <icon class="fas fa-arrow-down title" style="font-size:18px; display: none;"></icon></th>
                            <th data-bs-toggle="tooltip" data-bs-placement="left" title="Sortuj malejąco/rosnąco wg ceny" data-bs-animation="true" scope="col"><span>Cena</span> <icon class="fas fa-arrow-down price" style="font-size:18px; display: none;"></icon></th>
                            <th data-bs-toggle="tooltip" data-bs-placement="right" title="Sortuj malejąco/rosnąco wg daty zakończenia" data-bs-animation="true" class="d-none d-md-table-cell text-center" scope="col"><span>Data zakończenia</span> <icon class="fas fa-arrow-down date" style="font-size:18px;"></icon></th>
                        </tr>
                    </thead>
                    <tbody class="endedAdvertsTableData">
                        <partial name="_AdvertTableDataPartial" model="ViewBag.EndedAdverts" />
                    </tbody>
                </table>
            </div>
        </div>
    }
}