<style>
    .subLink {
        font-size: 20px;
        opacity: 1 !important;
        border-radius: 2rem;
        color: black !important;
    }

    .subLink.active {
        background-color: lightseagreen;
        border-radius:2rem;
        color: #fff !important;
    }

    .subLink:hover {
        background-color: lightseagreen;        
        color: #fff !important;
    }
</style>

<div class="row g-0">
    <div class="d-flex justify-content-center justify-content-md-start my-3">
        <nav class="navbar navbar-expand navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link subLink" aria-current="page" asp-action="ActiveAdverts" asp-controller="Advert">Aktywne</a>
                        </li>
                        <li class="nav-item mx-5 mx-md-3">
                            <a id="pendingLink" class="nav-link subLink" asp-action="PendingAdverts" asp-controller="Advert">Oczekujące</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link subLink" asp-action="EndedAdverts" asp-controller="Advert">Zakończone</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
