@{
    ViewData["Title"] = "Dodawanie ogłoszenia";
}

<div class="modal fade" id="errorMessageModal" tabindex="-1" aria-labelledby="errorMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 1rem;">
            <div class="modal-footer d-flex justify-content-center align-items-center bg-warning" style="border-radius: 1rem;">
                <h5><strong>Wypełnij pola oznaczone gwiazdką by przejść dalej</strong></h5>
            </div>
        </div>
    </div>
</div>

<section class="pt-2">
    <div class="advertSection">
        <div class="container">
            <div class="row">
                <div id="infoAlert" class="alert alert-info alert-dismissible fade show" role="alert">
                    <h5>Zanim zaczniesz</h5>
                    Upewnij się, że masz dane pod ręką, usprawni to proces dodawania ogłoszenia :)
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <hr />
                    <div class="d-flex justify-content-start align-items-center mb-3">
                        <icon class="icon-speedometer" style="font-size: 25px;"></icon>
                        <span style="margin-left: 10px;">Aktualny <strong>przebieg pojazdu</strong>, znajdziesz go na desce rozdzielczej</span>
                    </div>
                    <div class="d-flex justify-content-start align-items-center mb-3">
                        <icon class="icon-doc" style="font-size: 25px;"></icon>
                        <span style="margin-left: 10px;"><strong>Dowód rejestracyjny pojazdu</strong>, zawiera komplet informacji o pojeździe</span>
                    </div>
                    <div class="d-flex justify-content-start align-items-center">
                        <icon class="icon-camera" style="font-size: 25px;"></icon>
                        <span style="margin-left: 10px;"><strong>Dobre zdjęcia pojazdu</strong>, porządnie wykonane zdjęcia, zwiększają atrakcyjność ogłoszenia. Akceptowany format: <strong>jpg, png</strong></span>
                    </div>
                </div>
            </div>
            <form id="addAdvertForm">
                <h4 class="text-center">Formularz składa się z 3 etapów, wypełnij wszystkie wymagane pola</h4>
                <hr />
                <div class="row">
                    <div class="tab">
                        <partial name="_BasicCarInformationPartial" />
                    </div>
                </div>
                <div class="row">
                    <div class="tab">
                        <partial name="_AdditionalCarEquipmentPartial" />
                    </div>
                </div>
                <div class="row">
                    <div class="tab">
                        <partial name="_AdditionalCarEquipmentPartial" />
                    </div>
                </div>
                <div class="row">
                    <div class="tab">
                        <partial name="_AdditionalCarEquipmentPartial" />
                    </div>
                </div>
                <div class="float-start">
                    <button id="prevBtn" type="button" class="btn btn-primary backButton" onclick="nextPrev(-1)">
                        Powrót
                    </button>
                </div>
                <div class="float-end">
                    <button id="nextBtn" type="button" class="btn btn-primary goToButton" onclick="checkFields()">
                        Przejdź dalej
                    </button>
                </div>

                <div class="d-flex justify-content-around align-items-center mt-5">
                    <div class="step">
                        <div class="d-flex justify-content-center align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Podstawowe informacje" data-bs-animation="true">
                            1
                        </div>
                    </div>
                    <icon class="icon-arrow-right" style="font-size: 18px;"></icon>
                    <div class="step">
                        <div class="d-flex justify-content-center align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Zdjęcia" data-bs-animation="true">
                            2
                        </div>
                    </div>
                    <icon class="icon-arrow-right" style="font-size: 18px;"></icon>
                    <div class="step">
                        <div class="d-flex justify-content-center align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Coś" data-bs-animation="true">
                            3
                        </div>
                    </div>
                    <icon class="icon-arrow-right" style="font-size: 18px;"></icon>
                    <div class="step">
                        <div class="d-flex justify-content-center align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Podsumowanie" data-bs-animation="true">
                            4
                        </div>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var currentTab = 0;
        $(document).ready(function () {
            showTab(currentTab);
        })

        function checkFields() {
            var required = $('input,textarea,select').filter('[required]:visible');
            var allRequired = true;
            required.each(function () {
                if ($(this).val() === '' || $(this).children("option:selected").val() === '' ) {
                    allRequired = false;
                }
            })
            if (!allRequired) {
                $('#errorMessageModal').modal('show');
            }
            else {
                nextPrev(1)
            }
        }

        function showTab(n) {
            var x = $(".tab")

            $(x[n]).slideToggle(500)
            $('html,body').animate({
                scrollTop: $(x[n]).offset().top
            }, 'slow');

            if (n == 0) {
                $("#prevBtn").hide()
            } else {
                $("#prevBtn").show()
            }

            if (n == (x.length - 1)) {
                $("#nextBtn").text("Dodaj ogłoszenie")
            } else {
                $("#nextBtn").text("Przejdź dalej");
            }

            fixStepIndicator(n)
        }

        function nextPrev(n) {
            var x = $(".tab")

            currentTab = currentTab + n;
            console.log(currentTab)
            if (currentTab >= x.length) {
                $("#addAdvertForm").submit()
                return;
            }

            if (n == 1) {
                $(x[currentTab - 1]).slideToggle(500)
            }
            else {
                $(x[currentTab + 1]).slideToggle(500)
            }

            showTab(currentTab);
        }

        function fixStepIndicator(n) {
            var i, x = $(".step");
            for (i = 0; i < x.length; i++) {
                $(x[i]).removeClass("active");
            }
            $(x[n]).addClass("active");

            var number = 25;
            if (n != 0) {
                number = (100 / x.length) * (n + 1);
            }

            $(".progress-bar").css("width", number.toString() + "%");
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
