@{
    ViewData["Title"] = "Dodawanie ogłoszenia";
}

<section class="pt-2">
    <div class="advertSection">
        <div class="container">
            <div class="row">
                <div id="infoAlert" class="alert alert-info alert-dismissible fade show" role="alert">
                    <h5>Zanim zaczniesz</h5>
                    Upewnij się, że masz dane pod ręką, usprawni to proces dodawania ogłoszenia :)
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <hr />
                    <div class="d-flex justify-content-start align-items-center mb-3">
                        <icon class="icon-speedometer" style="font-size: 25px;"></icon>
                        <span style="margin-left: 10px;">Aktualny <strong>przebieg pojazdu</strong>, znajdziesz go na desce rozdzielczej</span>
                    </div>
                    <div class="d-flex justify-content-start align-items-center mb-3">
                        <icon class="icon-doc" style="font-size: 25px;"></icon>
                        <span style="margin-left: 10px;"><strong>Dowód rejestracyjny pojazdu</strong>, zawiera komplet informacji o pojeździe</span>
                    </div>
                    <div class="d-flex justify-content-start align-items-center">
                        <icon class="icon-camera" style="font-size: 25px;"></icon>
                        <span style="margin-left: 10px;"><strong>Dobre zdjęcia pojazdu</strong>, porządnie wykonane zdjęcia, zwiększają atrakcyjność ogłoszenia. Akceptowany format: <strong>jpg, png</strong></span>
                    </div>
                </div>
            </div>
            <form id="addAdvertForm">
                <h4 class="text-center">Formularz składa się z 3 etapów, wypełnij wszystkie wymagane pola</h4>
                <hr />
                <div class="row">
                    <div class="tab">
                        <partial name="_BasicCarInformationPartial" />
                    </div>

                </div>
                <div class="row">
                    <div class="tab">
                        <partial name="_AdditionalCarEquipmentPartial" />
                    </div>
                </div>
                <div class="row">
                    <div class="tab">
                        <partial name="_AdditionalCarEquipmentPartial" />
                    </div>
                </div>
                <div class="row">
                    <div class="tab">
                        <partial name="_AdditionalCarEquipmentPartial" />
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button id="prevBtn" type="button" class="btn btn-primary goToButton" onclick="nextPrev(-1)">
                        Powrót
                    </button>
                    <button id="nextBtn" type="button" class="btn btn-primary goToButton" onclick="nextPrev(1)">
                        Przejdź dalej
                    </button>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var currentTab = 0;
        $(document).ready(function () {       
            showTab(currentTab);
        })
        
        function showTab(n) {
            var x = $(".tab")
            

            $(x[n]).slideToggle(500)
            $('html,body').animate({
                scrollTop: $(x[n]).offset().top
            }, 'slow');

            if (n == 0) {
                $("#prevBtn").hide()
            } else {
                $("#prevBtn").show()
            }

            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Dodaj ogłoszenie";
            } else {
                document.getElementById("nextBtn").innerHTML = "Przejdź dalej";
            }

            fixStepIndicator(n)
        }

        function nextPrev(n) {
            var x = $(".tab")

            if (n == -1 && currentTab == 4) {
                currentTab = currentTab - 1;
                $(x[currentTab]).slideToggle()
            }

            if (currentTab < $(x).length - 1) {
                $(x[currentTab]).slideToggle(500)               
            }

            currentTab = currentTab + n;

            if (currentTab >= x.length) {
                $("#addAdvertForm").submit()
                return
            }
            showTab(currentTab);
        }

        function fixStepIndicator(n) {
            var i, x = $(".step");
            for (i = 0; i < x.length; i++) {
                $(x[i]).removeClass("active");
            }
            $(x[n]).addClass("active");

            var number = 25;
            if (n != 0) {
                number = (100 / x.length) * (n + 1);
            }

            $(".progress-bar").css("width", number.toString() + "%");
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
