@model IEnumerable<AdvertThreadVm>

<div class="row advertRow mb-4 py-3">
    <div class="col-12 d-flex justify-content-center justify-content-lg-start align-items-center">
        <button class="btn shadow-none col-6 d-flex justify-content-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOffer" aria-expanded="false" aria-controls="collapseOffer">
            <span class="header" style="font-size: 18px;">Złożenie oferty</span>
        </button>
        <button class="btn shadow-none col-6 d-flex justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOffer" aria-expanded="false" aria-controls="collapseOffer">
            <i class="icon-plus animate-icon" style="font-size: 25px;"></i>
        </button>
    </div>
    <div class="collapse" id="collapseOffer">
        <partial name="_CollapseDataPartial" model="@(Model.Where(at => at.Subject == "Złożenie oferty"))"/>
    </div>
</div>
<div class="row advertRow mb-4 py-3">
    <div class="col-12 d-flex justify-content-center justify-content-lg-start align-items-center">
        <button class="btn shadow-none col-6 d-flex justify-content-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVisit" aria-expanded="false" aria-controls="collapseVisit">
            <span class="header" style="font-size: 18px;">Wizyty</span>
        </button>
        <button class="btn shadow-none col-6 d-flex justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVisit" aria-expanded="false" aria-controls="collapseVisit">
            <i class="icon-plus animate-icon" style="font-size: 25px;"></i>
        </button>
    </div>
    <div class="collapse" id="collapseVisit">
        <partial name="_CollapseDataPartial" model="@(Model.Where(at => at.Subject == "Wizyty"))"/>
    </div>
</div>
<div class="row advertRow mb-4 py-3">
    <div class="col-12 d-flex justify-content-center justify-content-lg-start align-items-center">
        <button class="btn shadow-none col-6 d-flex justify-content-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMoreInfo" aria-expanded="false" aria-controls="collapseMoreInfo">
            <span class="header" style="font-size: 18px;">Więcej informacji</span>
        </button>
        <button class="btn shadow-none col-6 d-flex justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMoreInfo" aria-expanded="false" aria-controls="collapseMoreInfo">
            <i class="icon-plus animate-icon" style="font-size: 25px;"></i>
        </button>
    </div>
    <div class="collapse" id="collapseMoreInfo">
        <partial name="_CollapseDataPartial" model="@(Model.Where(at => at.Subject == "Więcej informacji"))"/>
    </div>
</div>
<div class="row advertRow mb-4 py-3">
    <div class="col-12 d-flex justify-content-center justify-content-lg-start align-items-center">
        <button class="btn shadow-none col-6 d-flex justify-content-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
            <span class="header" style="font-size: 18px;">Inne</span>
        </button>
        <button class="btn shadow-none col-6 d-flex justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
            <i class="icon-plus animate-icon" style="font-size: 25px;"></i>
        </button>
    </div>
    <div class="collapse" id="collapseOthers">
        <partial name="_CollapseDataPartial" model="@(Model.Where(at => at.Subject == "Inne"))"/>
    </div>
</div>
