@model IEnumerable<AdvertThreadVm>

<link rel="stylesheet" href="~/assets/css/advertThread.css" />

<div class="container py-5">
    <div class="row">
        @{
            await Html.RenderPartialAsync("_NavbarPartial");
        }
    </div>
    @{
        await Html.RenderPartialAsync("_ThreadsDataPartial", Model);
    }
</div>

@section Scripts {
    <script>
        $(".fa-plus").on("click", function() {
            $(this).toggleClass('rotate');
        });
    </script>
}