@using Microsoft.AspNetCore.Identity
@using DreamCar.Model.DataModels
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Dreamcar is website where you can serach and find your dream car!">
    <link rel="icon" type="image/svg+xml" sizes="150x150" href="/assets/img/default.svg">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400,500&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/assets/css/contactForm.css">
    <link rel="stylesheet" href="/assets/css/features.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/highlight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <link rel="stylesheet" href="/assets/css/loginForm.css">
    <link rel="stylesheet" href="/assets/css/resetPasswordForm.css">
    <link rel="stylesheet" href="/assets/css/accountSettings.css">
    <link rel="stylesheet" href="/assets/css/registerForm.css">
    <link rel="stylesheet" href="/assets/css/advert.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/r-2.2.9/sb-1.3.0/sp-1.4.0/datatables.min.css" />
</head>

<body style="font-family: Alegreya, serif;">
    <a id="scroll-to-top" href="#"><i class="fas fa-car" style="font-size: 40px;color: var(--bs-gray-dark);"></i></a>
    <nav class="navbar navbar-light navbar-expand-md" style="margin-bottom: 5px;">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="brand"></a><button data-bs-toggle="collapse" class="navbar-toggler shadow-none" data-bs-target="#navcol-1" style="border: none !important; outline: none !important"><span class="visually-hidden">Toggle navigation</span><span class="icon-menu" style="border: none !important; outline: none !important"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav d-xl-flex ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" id="search" href="#" style="font-size: 22px; margin-right:75px;">
                            Samochody
                            <i class="fa fa-search" style="font-size: 25px;margin-left: 8px;"></i>
                        </a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <partial name="_MenuPartial" />
    @RenderBody()
    <footer data-aos="slide-right" data-aos-duration="1200" data-aos-delay="2200" data-aos-once="true" class="footer-basic">
        <div class="social"></div>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="d-none d-md-inline" asp-area="" asp-controller="Home" asp-action="Index">
                    Strona główna
                    <icon class="icon-home footer-icon"></icon>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <icon class="icon-home footer-icon d-md-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Strona główna" data-bs-animation="true"></icon>
                </a>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="list-inline-item">
                    <a class="d-none d-md-inline" asp-area="Identity" asp-page="/Account/Login">
                        Logowanie
                        <icon class="icon-login footer-icon"></icon>
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <icon class="icon-login footer-icon d-md-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Logowanie" data-bs-animation="true"></icon>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="d-none d-md-inline" asp-area="Identity" asp-page="/Account/Register">
                        Rejestracja
                        <icon class="icon-user-follow footer-icon"></icon>
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Register">
                        <icon class="icon-user-follow footer-icon d-md-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Rejestracja" data-bs-animation="true"></icon>
                    </a>
                </li>
            }
            else
            {
                <li class="list-inline-item">
                    <a class="d-none d-md-inline" asp-area="Identity" asp-page="/Account/Login">
                        Logowanie
                        <icon class="icon-login footer-icon"></icon>
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <icon class="icon-login footer-icon d-md-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Logowanie" data-bs-animation="true"></icon>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="d-none d-md-inline" asp-area="Identity" asp-page="/Account/Register">
                        Rejestracja
                        <icon class="icon-user-follow footer-icon"></icon>
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Register">
                        <icon class="icon-user-follow footer-icon d-md-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Rejestracja" data-bs-animation="true"></icon>
                    </a>
                </li>
            }
            <li class="list-inline-item">
                <a class="d-none d-md-inline" asp-controller="Contact" asp-action="SendRequest">
                    Kontakt
                    <icon class="icon-paper-plane footer-icon"></icon>
                </a>
                <a asp-controller="Contact" asp-action="SendRequest">
                    <icon class="icon-paper-plane footer-icon d-md-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontakt" data-bs-animation="true"></icon>
                </a>

            </li>
        </ul>
        <p class="copyright">Dream Car © 2021</p>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="/assets/js/Lightbox-Gallery.js"></script>
    <script src="/assets/js/scrollToTop.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="/assets/js/site.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/r-2.2.9/sb-1.3.0/sp-1.4.0/datatables.min.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>

