<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-center">
        <div class="mb-3">
            <a class="btn btn-primary" id="addAdvertButton" asp-controller="Advert" asp-action="AddNewAdvert">
                Dodaj ogłoszenie
            </a>
        </div>
        <div class="mb-3">
            <a class="btn btn-primary d-block w-100" id="menuButton" asp-controller="Advert" asp-action="UserAdverts">Ogłoszenia</a>
        </div>
        <div class="mb-3">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="btn btn-primary d-block w-100" id="menuButton" type="submit">Obserwowane</button>
            </form>
        </div>
        <div class="mb-3">
            <a asp-controller="Account" asp-action="Index" class="btn btn-primary d-block w-100" id="menuButton">Ustawienia</a>
        </div>
        <div class="mb-3">
            <a class="btn btn-primary d-block w-100" id="menuButton" asp-controller="Contact" asp-action="SendRequest">Kontakt</a>
        </div>
        <div class="mb-3">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="btn btn-primary d-block w-100" id="menuButton" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</div>