@model ImageUploadedVm

<style>
    img:hover {
        cursor: pointer;
    }
</style>

<section>
    <div class="text-center">
        <h4>Zdjęcia</h4>
        <h5>Możesz przesłać do <strong>10</strong> zdjęć, pojedyncze zdjęcie nie może być mniejsze niż <strong>1MB</strong> oraz większe niż <strong>8MB</strong>. Akceptowany typ plików: <strong>png</strong>, <strong>jpg</strong></h5>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </symbol>
        </svg>
        @{
            if (Model is not null)
            {
                <h5>By usunąć zdjęcie dodane wcześniej, naciśnij na nie </h5>
            }
        }
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show col-12 col-md-7 my-md-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#info-fill" /></svg>
            Atrakcyjne zdjęcia zwiększają zainteresowanie u potencjalnych kupujących
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <span asp-validation-for="Images" class="text-danger" id="imageValidationMessage"></span>
    </div>
    <div class="mt-2 mt-md-5">
        <div class="row d-flex justify-content-start align-items-center">
            @{
                if (Model is not null && Model.ImagesSaved.Count() != 0)
                {
                    foreach (var item in Model.ImagesSaved)
                    {
                        <div class="col-12 col-md-3 mb-2">
                            <img src="~/advertImages/Advert @ViewBag.advertId/@item.Name" class="img-fluid" style="border-radius: 0.5rem; max-height:179px;" />
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <input asp-for="Images" type="file" id="fileUpload" class="inputfile" accept=".png, .jpg" data-multiple-caption="Wybrano {count} zdjęcia" multiple />
        <label for="fileUpload"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path d="M20 5h-2.586l-2.707-2.707A.996.996 0 0 0 14 2h-4a.996.996 0 0 0-.707.293L6.586 5H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zm-8 12c-2.71 0-5-2.29-5-5 0-2.711 2.29-5 5-5s5 2.289 5 5c0 2.71-2.29 5-5 5z" /><path d="M13 9h-2v2H9v2h2v2h2v-2h2v-2h-2z" /></svg> <span>Wybierz zdjęcia&hellip;</span></label>
    </div>
</section>
