@using DreamCar.Services.Services
@model ChangePasswordVm

<div class="col-12 accountColumn">
    <div class="text-center">
        <icon class="headerIcon fas fa-lock extendPasswordContent" style="margin-left: 10px;"></icon>
        <h2 class="extendPasswordContent">Zmiana hasła</h2>
        <div class="changePasswordContent mt-3" style="display: none;">
            <h5>Możesz zmienić swoje hasło</h5>
            <form id="form" asp-action="ChangePassword" asp-controller="Account" method="post">
                <div class="formContact">
                    <div class="form-group">
                        <div class="mb-3">
                            <input asp-for="UserId" type="hidden" value="@ViewBag.userId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <input id="oldPassword" asp-for="OldPassword" placeholder="Obecne hasło" class="form-control" style="border-radius: 1rem;" />
                            <label for="oldPassword">Obecne hasło <sup><icon class="fas fa-star" style="margin: 0; text-indent: -3px; font-size: 6px; color: rgb(255,23,8);"></icon></sup></label>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <input id="newPassword" asp-for="NewPassword" placeholder="Nowe hasło" class="form-control" style="border-radius: 1rem;" />
                            <label for="newPassword">Nowe hasło <sup><icon class="fas fa-star" style="margin: 0; text-indent: -3px; font-size: 6px; color: rgb(255,23,8); "></icon></sup></label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <input id="confirmNewPassword" asp-for="ConfirmPassword" placeholder="Potwierdź nowe hasło" class="form-control" style="border-radius: 1rem;" />
                            <label for="confirmNewPassword">Potwierdź nowe hasło <sup><icon class="fas fa-star" style="margin: 0; text-indent: -3px; font-size: 6px; color: rgb(255,23,8);"></icon></sup></label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="reCaptcha" class="form-group">
                        <div class="mb-3">
                            <div id="recaptchaContainer">
                                <div class="g-recaptcha" data-callback="reCaptchaCallback" data-language="pl" data-sitekey="@AesOperationService.GetReCaptchaSiteKey()"></div>
                            </div>
                            <span id="lblMessage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <button id="setNewPasswordButton" class="btn btn-primary contactButton" type="button">Ustaw nowe</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
