@{ ViewData["Title"] = "Konto"; }

@{
    if (TempData["SaveContactData"] == null ? false : (bool)TempData["SaveContactData"])
    {
        <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
            Dane zostały zapisane pomyślnie
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["ChangePassword"] == null ? false : (bool)TempData["ChangePassword"])
    {
        <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
            Hasło zostało zmienione pomyślnie
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["ErrorChangePassword"] == null ? false : true)
    {
        <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
            Coś poszło nie tak, upewnij się, że podałeś <strong>prawidłowe</strong> aktualne hasło.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<section>
    <div class="container">
        <div class="row" data-aos="fade-left" data-aos-duration="800" data-aos-delay="800" data-aos-once="true">
            <partial name="_ContactDetailsPartial" model="@ViewBag.contactDetails" />
        </div>
        <div class="row" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-once="true">
            <partial name="_ChangePasswordPartial" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#phoneNumber").mask('(99) 999-999-999')
            $("#zipCode").mask('99-999')
        })

        $(".extend").on("click", function () {
            $(".contactContent").slideToggle(500)
            $('html,body').animate({
                scrollTop: $(".contactContent").offset().top
            }, 'slow');
        });
        $(".extendPasswordContent").on("click", function () {
            $(".changePasswordContent").slideToggle(500)
            $('html,body').animate({
                scrollTop: $(".changePasswordContent").offset().top
            }, 'slow');
        });

    </script>
    <script src="~/assets/js/reCaptchaScript.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <partial name="_ValidationScriptsPartial" />
}
