@{ ViewData["Title"] = "Konto"; }

@{
    if (TempData["SaveContactData"] != null)
    {
        if ((bool)TempData["SaveContactData"])
        {
            <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
                Dane zostały zapisane pomyślnie
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
                Coś poszło nie tak, spróbuj ponownie
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
}

<section>
    <div class="container">
        <div class="row">
            <partial name="_ContactDetailsPartial" model="@ViewBag.contactDetails" />
        </div>
        <div class="row">
            <div class="col-12 accountColumn">
                <div class="text-center">
                    <icon class="fas fa-user-cog mok"></icon>
                    <h2>Dane kontaktowe</h2>
                    <div class="dataContactForm">
                        orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <input id="confirmPassword" class="form-control" placeholder="Potwierdź hasło" style="border-radius: 1rem;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 accountColumn">
                <div class="text-center">
                    <icon class="fas fa-user-cog mok"></icon>
                    <h2>Dane kontaktowe</h2>
                    <div class="dataContactForm">
                        orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <input id="confirmPassword" class="form-control" placeholder="Potwierdź hasło" style="border-radius: 1rem;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 accountColumn">
                <div class="text-center">
                    <icon class="fas fa-user-cog mok"></icon>
                    <h2>Dane kontaktowe</h2>
                    <div class="dataContactForm">
                        orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <input id="confirmPassword" class="form-control" placeholder="Potwierdź hasło" style="border-radius: 1rem;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 accountColumn">
                <div class="text-center">
                    <icon class="fas fa-user-cog mok"></icon>
                    <h2>Dane kontaktowe</h2>
                    <div class="dataContactForm">
                        orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <input id="confirmPassword" class="form-control" placeholder="Potwierdź hasło" style="border-radius: 1rem;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".contactContent").hide()
        })
        $(".extend").on("click", function () {
            $(".contactContent").slideToggle(500)
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
