@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Przypomnienie hasła";
}

<section class="reset-password" style="background: rgb(255,255,255);">
    <form method="post" class="shadow" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800" data-aos-once="true" style="border-radius: 1rem;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="text-center">
                <div class="col-12">
                    <h1>Przypomnienie hasła</h1>
                </div>
                <hr />
                <div class="col-12">
                    <h5>Jeśli nie pamiętasz hasła do konta, możemy Ci pomóc. Wystarczy, że podasz nam adres e-mail na jaki zostało założone konto</h5>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input asp-for="Input.Email" placeholder="Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Zresetuj</button>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
