@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<section class="login-clean" style="background: rgb(255,255,255);">
    <form id="account" method="post" class="shadow" data-aos="fade-down" data-aos-duration="800" data-aos-delay="800" data-aos-once="true" style="border-radius: 1rem;">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration">
            <i class="la la-sign-in" style="transform: rotate(180deg);color: var(--bs-dark);font-size: 75px;"></i>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" style="border-radius: 1rem;">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <input asp-for="Input.Password" class="form-control" placeholder="Hasło" style="border-radius: 1rem;">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" id="logInFormButton" type="submit" style="border-radius: 2rem;background: lightseagreen;">Zaloguj</button>
            </div>
            <a class="forgot" href="#">Nie pamiętasz hasła?</a>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
