@page
@model RegisterModel

@using DreamCar.Services.Services

@{
    ViewData["Title"] = "Rejestracja";
}

<section class="registration" style="background: rgb(255,255,255);">
    <form autocomplete="off" id="form" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="shadow" data-aos="fade-down" data-aos-duration="800" data-aos-delay="800" data-aos-once="true" style="border-radius: 1rem;">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center my-2">
                <h2>
                    Rejestracja <i class="icon-user-follow ms-2"></i>                   
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center align-content-center mb-2">
                <h4>Wypełnij wszystkie pola</h4>
            </div>
        </div>
        <div class="row">
            <div class="form-floating mb-3 col-md-6">
                <input id="firstName" asp-for="Input.FirstName" class="form-control" placeholder="Imie">
                <label id="firstNameLabel" class="form-label" for="firstName">Imie <sup><icon class="fas fa-star"></icon></sup></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <input id="lastName" asp-for="Input.LastName" class="form-control" placeholder="Nazwisko">
                <label id="lastNameLabel" class="form-label" for="lastName">Nazwisko <sup><icon class="fas fa-star"></icon></sup></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 form-floating col">
                <input id="email" asp-for="Input.Email" class="form-control" placeholder="Email">
                <label id="emailLabel" class="form-label" for="email">Email <sup><icon class="fas fa-star"></icon></sup></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Password" class="form-control" placeholder="Hasło" id="password">
                <label id="passwordLabel" class="form-label" for="password">Hasło <sup><icon class="fas fa-star"></icon></sup></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 mb-3">
                <input id="confirmPassword" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Potwierdź hasło">
                <label id="confirmationLabel" class="form-label" for="confirmPassword">Potwierdź hasło <sup><icon class="fas fa-star"></icon></sup></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div id="reCaptcha" class="form-group">
                <div class="mb-3">
                    <div id="recaptchaContainer" style="margin-left:5px; transform:scale(0.85);transform-origin:0 0">
                        <div class="g-recaptcha" data-callback="reCaptchaCallback" data-language="pl" data-sitekey="@AesOperationService.GetReCaptchaSiteKey()"></div>
                    </div>
                    <span id="lblMessage" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary d-block w-50 mx-auto" id="logInFormButton" type="button" style="border-radius: 2rem;background: lightseagreen;">Zarejestruj</button>
        </div>
        <a class="forgot" asp-area="Identity" asp-page="/Account/Login">Masz już konto? Zaloguj się</a>
    </form>
</section>

@section Scripts {
    <script src="~/assets/js/reCaptchaScript.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <partial name="_ValidationScriptsPartial" />
}
