@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset hasła";
}

<section class="reset-password" style="background: rgb(255,255,255);">
    <form method="post" class="shadow" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800" data-aos-once="true" style="border-radius: 1rem;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="text-center">
                <div class="col-12">
                    <h1>Resetowanie hasła</h1>
                </div>
                <hr />
                <div class="col-12">
                    <h5>Wprowadz swój adres email oraz nowe hasło</h5>
                </div>
            </div>
        </div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-group">
            <div class="my-3">
                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <input asp-for="Input.Password" placeholder="Hasło" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-1">
                <input asp-for="Input.ConfirmPassword" placeholder="Potwierdź hasło" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>           
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Ustaw nowe hasło</button>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
