.advertSection {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 1rem;
    background: #ffffff;
    color: #343434;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.carSection {
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 1rem;
    color: #343434;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    padding: 15px;
}

.advertSection .checkbox:checked {
    border: none !important;
    outline: none !important;
}

@media (min-width: 1200px) {
    .advertSection .form-floating {
        min-width: 300px;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .advertSection .form-floating {
        min-width: 450px;
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .advertSection .form-floating {
        min-width: 405px;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .advertSection .form-floating {
        width: 315px;
    }
}

.advertSection .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
}

.advertSection .form-select {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    box-shadow: none;
    outline: none;
    color: #343434;
    text-indent: 4px;
    height: 58px;
}

.advertSection .form-select:hover {
    cursor: pointer;
}

.advertSection .form-select select option:hover {
    cursor: pointer;
}

.advertSection label {
    text-indent: 8px;
}

.carSection .labelInput {
    text-indent: 24px;
}

#firstRegistration:hover {
    cursor: pointer;
}

#arrowDown {
    margin-top: 15px;
    opacity: 0.5;
}

#arrowDown:hover {
    cursor: pointer;
    opacity: 1;
}

.advertSection .goToButton {
    border-radius: 2rem;
    background: lightseagreen;
    border: none;
    padding: 5px;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
    text-transform: none;
    width: 180px;
    font-size: 20px;
    opacity: 0.8;
}

.advertSection .backButton {
    border-radius: 2rem;
    background: DarkGray;
    border: none;
    padding: 5px;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
    text-transform: none;
    width: 180px;
    font-size: 20px;
    opacity: 0.8;
}

.advertSection .backButton:hover {
    opacity: 1;
}

.advertSection .goToButton:hover {
    opacity: 1;
}

.advertSection .tab {
    display: none;
}

.advertSection .step {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 7px;
    background: #fff;
    border: 1px solid #84b8f8;
    color: #84b8f8;
    text-align: center;
    font: 30px Arial, sans-serif;
}

.advertSection .step:hover {
    cursor: pointer;
}

.advertSection .step.active {
  background-color: #476ca6;
  font-weight: bold;
  color:white;
}

.advertSection .step.finish {
  background-color: #84b8f8;
  color: white;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 30px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1rem;
}

.inputfile + label svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor;
    margin-right: 0.25em;
}

.inputfile + label {
    color: #79a5b0;
    background-color: #cff4fc;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    color: #f1e5e6;
    background-color: #79a5b0;
}

@media (max-width: 768px) {
    .advertSection .goToButton {
        width: 120px;
        font-size: 15px;
    }

    .advertSection .backButton {
        width: 120px;
        font-size: 15px;
    }

    .advertSection .step {
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
}

@media (max-width: 776px) {
    .advertSection .step {
        padding: 4px;
    }

    .inputfile + label {
        height: 80px;
    }
}