body {
    height: 100vh;
}

footer { 
    min-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

#brand {
  background: url("../../assets/img/default.svg") center / auto no-repeat, #ffffff;
  border-style: none;
  font-size: 40px;
  width: 125px;
  height: 125px;
}

#brand:hover {
  opacity: 0.5;
}

#registrationButton {
  border-radius: 2rem;
  color: #ffffff;
  margin-left: 10px;
  background-color: lightseagreen;
}

@media (max-width: 765px) {
  .nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 576px) {
  #registrationButton {
    margin-left: 0px;
  }
}

#registrationButton:hover {
  background-color: #ffffff;
  color: black;
}

#loginButton:hover {
  color: rgba(0,0,0,0.25);
}

.fa.fa-search {
  margin-left: 5px;
  color: var(--bs-gray-dark);
  font-size: 20px;
}

#search:hover {
  color: var(--bs-secondary);
}

.fa.fa-search:hover {
  color: var(--bs-secondary);
}

@media (max-width: 576px) {
  .col-sm-6.col-md-4.col-lg-3.item {
    overflow: hidden;
    border-radius: 1rem;
  }
}

@media (max-width: 768px) {
    .footer-icon {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px
    }
}

@media (max-width: 576px) {
  .col-sm-6.col-md-4.col-lg-3.item img {
    transition: all 0.75s ease;
  }
}

@media (max-width: 576px) {
  .col-sm-6.col-md-4.col-lg-3.item:hover img {
    transform: scale(1.1);
  }
}

#smileEmoji {
  margin-left: 5px;
  line-height: 20px;
  font-size: 20px;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 1;
  opacity: 0.8;
}

#scroll-to-top:hover {
  opacity: 1;
}

#logInFormButton:hover {
  opacity: 0.75;
}

#search {
  color: rgba(0,0,0,1);
}

#loginButton {
  font-size: 18px;
  color: rgba(0,0,0,1);
}

.icon-menu {
    font-size: 30px;
}

.icon-menu:hover {
    opacity:1;
    color: black;
}


#menuButton {
    border: none;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
    background: white;
    padding: 15px;
    color: black;
    font-size: 18px;
}

#menuButton:hover {
   color: var(--bs-secondary);
}

#addAdvertButton {
    border: none;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
    background-color: lightseagreen;
    padding: 14px;
    color: #ffffff;
    font-size: 17px;
    border-radius: 2rem;
    opacity: 1;
}

#addAdvertButton .icon-plus {
    margin-top: 20px;
    line-height: 25px;
    margin-left: 5px;
    font-size: 18px;
}

#addAdvertButton:hover {
    opacity: 0.9;
}

.footer-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.alertMessage {
    position: absolute;
    top: 120px;
    right: 60px;
    z-index: 10;
    opacity: 0.92;
}

.accountColumn {
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 1rem;
    color: #343434;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    padding: 15px;
}

.accountColumn h2:hover {
    cursor: pointer;
    opacity: 0.9;
}

.accountColumn icon:hover {
    cursor: pointer;
    opacity: 0.9;
}

.accountColumn icon {
    padding: 10px;
    margin-left:30px;
    font-size: 75px;
    color: #343434;
}

.accountColumn .contactButton {
    border-radius: 2rem;
    background: lightseagreen;
    border: none;
    padding: 5px;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
    text-transform: none;
    width: 180px;
    font-size: 20px;
}

.accountColumn .contactButton:hover {
    opacity: 0.9;
}

.accountColumn .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.accountColumn .formContact {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  color: #505e6c;
}